@import "../../../theme/styles.scss";

.heading {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: $xs-space $sm-space;
    }
    
    .bare {
        border: 0;
        background-color: white;
        color: $primary;
    }
}
