@import "../../../theme/styles.scss";

.button {
    border: 0;
    padding: $xs-space $sm-space;
    margin: 5px;
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
    }

    &.bare {
        border: 0;
        background-color: white;
    }
}
