$primary: #319795;
$secondary: black;
$tertiary: #d0d4da;

$success: #0a8b35;
$success-light: #c6f7d4;

$info: #2093d6;
$info-light: #bde4f8;

$warning: #ed8f24;
$warning-light: #feecc8;

$error: #ed3b44;
$error-light: #fed6d7;

.-primary {
    background-color: $primary;
    color: white;
}

.-primary-inverted {
    background-color: white;
    color: $primary;
}

.-secondary {
    background-color: white;
    color: black;
}

.-secondary-inverted {
    background-color: black;
    color: white;
}

.-tertiary {
    background-color: $tertiary;
}

.-tertiary-inverted {
    background-color: white;
    color: $tertiary;
}

.-success {
    background-color: $success;
    color: white;
}

.-success-inverted {
    background-color: white;
    color: $success;
}

.-success-light {
    background-color: $success-light;
    color: $success;
}

.-info {
    background-color: $info;
    color: white;
}

.-info-inverted {
    background-color: white;
    color: $info;
}

.-info-light {
    background-color: $info-light;
    color: $info;
}

.-warning {
    background-color: $warning;
    color: white;
}

.-warning-inverted {
    background-color: white;
    color: $warning;
}

.-warning-light {
    background-color: $warning-light;
    color: $warning;
}

.-error {
    background-color: $error;
    color: white;
}

.-error-inverted {
    background-color: white;
    color: $error;
}

.-error-light {
    background-color: $error-light;
    color: $error
}