@import "../../../theme/styles.scss";

.alert {
    padding: 0 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;

    button {
        border: 0;
        background-color: inherit;
        color: inherit;
    }

    &.-secondary {
        border: 1px solid lightgrey;
    }

    &.light {
        border-inline-start: 3px solid;
    }

    .message-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin-inline-start: 10px;
        }
    }
}